* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.pageone {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: grey;
    grid-gap: 10px;
    padding: 10px;
}

.first {
    background-color: aqua;
    padding: 5%;
}

.second {
    background-color: aqua;
    padding: 5%;
}