* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(50, 50, 50);
    color: #EAEEF5;
    padding: 20px, 10px, 10px, 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 40px ;
    text-align: center;
}

h2 {
    margin-bottom: 30px ;
    text-align: center;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

a:link {
    color: #ffff00;
    text-align: center;
}

a:visited {
    color: #7efb7b;
    text-align: center;
}

.cardbody{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15px;
    padding: 15px;
}

.cardbody img {
    max-width: 100%;
    height: auto;
}